*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
    margin: 50px 0;
}

.location,
.temperation {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature{
    text-align: center;
    display: flex;
}

.temp-feel-like{
    font-size: 25px;
    opacity: .7;
}

.wind{
    margin: 15px 0;
}

.degree-section{
    margin: 10px;
    font-size: 30px;
}

.temperature-description{
    margin: 20px 0;
    font-size: 25px;
}

select{
    padding: 20px 40px;
    font-size: 22px;
    border-radius: 5px;
    background-color: transparent;
    border: 3px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

option{
    color: #000000;
    cursor: pointer;
}

option:hover{
    opacity: .3;
}
